<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'ben kimim?' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'anasayfa' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="{{ site.baseurl }}/assets/ben.jpg" class="gravatar">
	</a>
 <span class="logo-prompt">{{ prompt }}</span>
  <span class="alt_menu"></br>a href="mailto:hknrgl@gmail.com" target="_blank">eposta</a><a href="http://github.com/hakanergul" target="_blank">github</a></span>

</aside>
